* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Staatliches', cursive;
}

.header {
    width: 100%;
    padding: 20px;
    background-color: var(--primary-color);
}

.header h1 {
    font-size: 2rem;
}

.container-principal {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100%;
    height: 100vh;
}

.container-principal aside {
    border: black solid 2px;
}

.container-principal aside ul {
    display: flex;
    flex-direction: column;
}

.link {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'Patua One', cursive;
    font-family: 'Staatliches', cursive;
    background-color: var(--white-color);
    font-size: 1rem;
    letter-spacing: 2px;
    width: 100%;
    padding: 20px;
}

.link:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

.clicado {
    background-color: var(--primary-color);
}

.coitaner-function {
    display: flex;
    justify-content: center;
}